---
export interface Props {
  type: 'warning' | 'danger' | 'success' | 'info';
}
const { type } = Astro.props;

const defaultClass = 'border-l-4 p-4 my-8';

const getClass = (color: string) => {
  switch (color) {
    case 'warning':
      return `${defaultClass} bg-yellow-50  border-yellow-500 text-yellow-700 dark:text-yellow-300 dark:bg-yellow-950`;
    case 'danger':
      return `${defaultClass} bg-red-50  border-red-500 text-red-700 dark:text-green-300 dark:bg-red-950`;
    case 'success':
      return `${defaultClass} bg-green-50 dark:bg-green-950  border-green-500 text-green-700 dark:text-green-300`;
    case 'info':
      return `${defaultClass} bg-blue-100 dark:bg-blue-900 border-blue-500 text-blue-700 dark:text-blue-300`;
    default:
      return `${defaultClass} bg-blue-50 dark:bg-blue-950 border-blue-500 text-blue-700 dark:text-blue-300`;
  }
};
---

<div class={getClass(type)}>
  <slot />
</div>
