---
import { TYPOGRAPHY } from '../../../design.config';

const getStyle = (item: { name: string; size: string }) => {
  return `font-size: ${item.size};`;
};
---

<div class='w-full not-prose'>
  {
    TYPOGRAPHY.scale.map((item) => (
      <div class=' mt-6  block border-t py-4'>
        <p
          data-tooltip={item.name}
          data-position='top'
          data-ctc={item.name}
          class='text-zinc-800 ctc font-normal tooltip cursor-pointer block leading-[105%] w-max'
          style={getStyle(item)}>
          CabanaUI
        </p>
        <div class='flex gap-6'>
          <span>text-{item.name}</span>
          <span>size: {item.size}</span>
        </div>
      </div>
    ))
  }
</div>

<script>
  let textStyles = document.querySelectorAll('.ctc');
  textStyles.forEach((textStyle) => {
    textStyle.addEventListener('click', () => {
      // console.log(`text-${textStyle.dataset.ctc}`);
      // @ts-ignore
      copyCode(`text-${textStyle.dataset.ctc}`);
      // @ts-ignore
      textStyle.dataset.tooltip = 'Copied!';
      setTimeout(() => {
        // @ts-ignore
        textStyle.dataset.tooltip = 'Copy class';
      }, 1000);
    });
  });

  async function copyCode(text: string) {
    await navigator.clipboard.writeText(text ?? '');
  }
</script>
