---
interface Props {
  currentPage: string;
}

import { SIDEBAR, sidebar } from '../../../config';

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.slice(1);

const isCurrentPage = (item: sidebar) => {
  console.log(item.link, currentPageMatch);
  if (item.link) {
    return item.link.includes(currentPageMatch);
  }
  return false;
};

const getLinkClasses = (link: sidebar) => {
  const baseClasses =
    'text-label-sm block py-1.5 text-neutral-500 hover:text-neutral-900 ml-2';

  if (isCurrentPage(link)) {
    return baseClasses + ' !text-primary-400';
  } else {
    return baseClasses;
  }
};

const getchildLinkClasses = (link: sidebar) => {
  const baseClasses = 'text-label-sm block py-0.5 text-neutral-500';

  if (isCurrentPage(link)) {
    return baseClasses + ' !text-primary-400';
  } else {
    return baseClasses;
  }
};
---

<aside title='Site Navigation'>
  <!-- <Debug content={navigation} /> -->
  <nav aria-labelledby='grid-left' class='w-64 p-4'>
    <ul>
      {
        SIDEBAR.map((item) => {
          if (item.header) {
            return (
              <p class='mt-4 text-neutral-900 text-label-sm'>{item.name}</p>
            );
          }

          if (item.children) {
            return (
              <li class='mt-2 ml-2'>
                <p class='text-label-sm  py-1.5 text-neutral-700'>
                  {item.name}
                </p>
                <ul class=''>
                  {item.children.map((child) => {
                    return (
                      <li class='w-max ml-2'>
                        <a class={getchildLinkClasses(child)} href={child.link}>
                          {child.name}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              </li>
            );
          }
          return (
            <li class={getLinkClasses(item)}>
              <a href={item.link}>{item.name}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</aside>

<script is:inline>
window.addEventListener('DOMContentLoaded', (event) => {
  var target = document.querySelector('[aria-current="page"]');
  if (target && target.offsetTop > window.innerHeight - 100) {
    document.querySelector('.nav-groups').scrollTop = target.offsetTop;
  }
});
</script>
